@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --header-height: 60px;
  --header-height-2xl: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

strong {
  font-weight: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .header-height {
    @apply h-[var(--header-height)] 2xl:h-[var(--header-height-2xl)];
  }
  .section-padding {
    @apply p-2 md:p-6 lg:p-8;
    @apply pt-[var(--header-height)] 2xl:pt-[var(--header-height-2xl)];
  }
  .licorice-font {
    font-family: "Licorice", cursive;
  }
  .inspiration-font {
    font-family: "Inspiration", cursive;
  }
  .luckiest-guy {
    font-family: "Luckiest Guy", cursive;
  }
  .londrina-shadow {
    font-family: "Londrina Shadow", sans-serif;
  }
  .bg-home {
    background-image: url("/bg-toile.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
