@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --header-height: 60px;
  --about-section-mt: 10rem;
}
@media (min-width: 1280px) {
  :root {
    --header-height: 80px;
    --about-section-mt: 14rem;
  }
}
@media (min-width: 1536px) {
  :root {
    --header-height: 80px;
    --about-section-mt: 18rem;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  @apply scroll-smooth;
}
strong {
  font-weight: inherit;
}
.nav-link {
  cursor: pointer;
  position: relative;
}
.nav-link:focus-visible {
  outline: 2px solid #000;
}
.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.nav-link:hover::after,
.active::after {
  transform: scale(1);
}
.out-view {
  @apply opacity-0 translate-y-10 transition duration-500;
}
.in-view {
  transform: translateX(0);
  opacity: 1;
}

@layer utilities {
  .licorice-font {
    font-family: 'Licorice', cursive;
  }
  .inspiration-font {
    font-family: 'Inspiration', cursive;
  }
  .luckiest-guy {
    font-family: 'Luckiest Guy', cursive;
  }
  .londrina-shadow {
    font-family: 'Londrina Shadow', sans-serif;
  }
  .calligraffitti-regular {
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .text-balance {
    text-wrap: balance;
  }
  .header-height {
    @apply h-[var(--header-height)];
  }
  .side-nav {
    height: calc(100vh - var(--header-height));
    @apply top-[var(--header-height)] right-0;
  }
  .section-padding {
    @apply pb-2 px-2 md:pb-10 md:px-10 xl:pb-16 xl:px-24 pt-[var(--header-height)];
  }
  .about-section-mt {
    @apply mt-[var(--about-section-mt)];
  }
  .dwarf-position {
    top: calc(var(--about-section-mt) + var(--header-height));
  }
  .main-bg {
    background-image: url('/bg-toile.jpg');
    background-size: contain;
  }
  .header-icon {
    @apply w-11 2xl:w-12 aspect-square p-3 cursor-pointer transition-transform hover:scale-110;
  }
  .language-icon {
    @apply w-10 lg:w-10 2xl:w-12 aspect-square p-2 cursor-pointer transition-transform hover:scale-110;
  }
  .black-to-color {
    @apply grayscale brightness-0 hover:grayscale-0 hover:brightness-100;
  }
  .btn-shadow {
    box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.5);
  }
  .shadow-legend {
    box-shadow: 2px 3px 6px 3px rgba(0, 0, 0, 0.25);
  }
  .shine-bg {
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
  }
  .dwarf-left {
    @apply max-lg:translate-x-[-40%];
    /* transform: translateX(-40%); */
  }
  .dwarf-right {
    @apply max-lg:translate-x-[40%];
    /* transform: translateX(40%); */
  }
}
